<div class="dimension-list">

</div>

<div class="p10">
    <h4>My Reports Page</h4>

    <div class="row-fluid">
        <div class="span6">
            <div id="chart1">
                chart 1
            </div>
        </div>

        <div class="span6">
            <div id="chart2">
                chart 2
            </div>
        </div>
    </div>

    <h4>Ticket Sales and Collection</h4>
    <div class="row-fluid">
        <div class="span12">
            <div id="table1">
                 table 1
            </div>
        </div>

    </div>
</div>