<div class="tabbable">
    <ul class="nav nav-tabs">
        <li><a href="state" class="action">State</a></li>
        <li><a href="region" class="action">Region</a></li>
        <li><a href="district" class="action">District</a></li>
        <li><a href="city" class="action">City</a></li>
        <li><a href="language" class="action">Language</a></li>
        <li><a href="movieName" class="action">Movie Name</a></li>
        <li><a href="theatre_category" class="action">Theatre Category</a></li>
        <li><a href="theatre" class="action">Theatre</a></li>
        <li><a href="screen" class="action">Screen</a></li>
        <!--<li><a href="show" class="action">Show</a></li>-->
        <!--<li><a href="seating_type" class="action">Seating Type</a></li>-->
    </ul>
</div>