<table class="table table-bordered">
    <thead>
    <tr class="highlight-bg">
        <th class="v-align-m" rowspan="2">{{dimension}}</th>
        <th colspan="3"><div class="text-center">{{yLabel}}</div></th>
    </tr>
    <tr class="highlight-bg">
        <td><div class="text-right">Expected</div></td>
        <td><div class="text-right">Actual</div></td>
        <td><div class="text-right">Difference</div></td>
    </tr>
    </thead>
    <tbody>
    {{#each rows}}
    <tr>
        <td>{{dimension}}</td>
        <td><div class="text-right">{{expected}}</div></td>
        <td><div class="text-right">{{actual}}</div></td>
        <td><div class="text-right">{{difference}}</div></td>

    </tr>
    {{/each}}
    </tbody>
</table>